body {
  max-width: 720px;
  margin: 0 auto; 
  font-size: 20px;
  font-weight: 200;
  font-family: "sans-serif";
}

#speciallist {
  background-color: gold;
  padding: 20px;
  border: 2px solid black;
}
h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h2 a, h3 a {
  color: black;
  text-decoration: none;
}

aside {
  border: 1px solid #ccc;
  padding: 0 1em;
  margin: 0 1em;
  float: right;
}

.highlight {
  background-color: gray;
}